a1stream-web/src/main/resources/wsdl/publishserviceDN.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="ImportAndPublishInv">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ACpass" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="xmlInvData" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="convert" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ImportAndPublishInvResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ImportAndPublishInvResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ImportInvPattern">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="xmlInvData" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="convert" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ImportInvPatternResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ImportInvPatternResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ImportInv">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="xmlInvData" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="convert" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ImportInvResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ImportInvResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="publishInv">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="invIDs" type="tns:ArrayOfInt"/>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ArrayOfInt">
<s:sequence>
<s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int"/>
</s:sequence>
</s:complexType>
<s:element name="publishInvResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="publishInvResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="UpdateCus">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="XMLCusData" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="convert" nillable="true" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="UpdateCusResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="UpdateCusResult" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="setCusCert">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="certSerial" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="certString" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="cusCode" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="setCusCertResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="setCusCertResult" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ImportInvByPatternSerial">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="xmlInvData" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="username" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="convert" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ImportInvByPatternSerialResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="ImportInvByPatternSerialResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="publishInvFkey">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ACpass" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="lsFkey" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="publishInvFkeyResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="publishInvFkeyResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="deleteInvFkey">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="lsFkey" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ACpass" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="deleteInvFkeyResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="deleteInvFkeyResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="ImportAndPublishInvSoapIn">
<wsdl:part name="parameters" element="tns:ImportAndPublishInv"/>
</wsdl:message>
<wsdl:message name="ImportAndPublishInvSoapOut">
<wsdl:part name="parameters" element="tns:ImportAndPublishInvResponse"/>
</wsdl:message>
<wsdl:message name="ImportInvPatternSoapIn">
<wsdl:part name="parameters" element="tns:ImportInvPattern"/>
</wsdl:message>
<wsdl:message name="ImportInvPatternSoapOut">
<wsdl:part name="parameters" element="tns:ImportInvPatternResponse"/>
</wsdl:message>
<wsdl:message name="ImportInvSoapIn">
<wsdl:part name="parameters" element="tns:ImportInv"/>
</wsdl:message>
<wsdl:message name="ImportInvSoapOut">
<wsdl:part name="parameters" element="tns:ImportInvResponse"/>
</wsdl:message>
<wsdl:message name="publishInvSoapIn">
<wsdl:part name="parameters" element="tns:publishInv"/>
</wsdl:message>
<wsdl:message name="publishInvSoapOut">
<wsdl:part name="parameters" element="tns:publishInvResponse"/>
</wsdl:message>
<wsdl:message name="UpdateCusSoapIn">
<wsdl:part name="parameters" element="tns:UpdateCus"/>
</wsdl:message>
<wsdl:message name="UpdateCusSoapOut">
<wsdl:part name="parameters" element="tns:UpdateCusResponse"/>
</wsdl:message>
<wsdl:message name="setCusCertSoapIn">
<wsdl:part name="parameters" element="tns:setCusCert"/>
</wsdl:message>
<wsdl:message name="setCusCertSoapOut">
<wsdl:part name="parameters" element="tns:setCusCertResponse"/>
</wsdl:message>
<wsdl:message name="ImportInvByPatternSerialSoapIn">
<wsdl:part name="parameters" element="tns:ImportInvByPatternSerial"/>
</wsdl:message>
<wsdl:message name="ImportInvByPatternSerialSoapOut">
<wsdl:part name="parameters" element="tns:ImportInvByPatternSerialResponse"/>
</wsdl:message>
<wsdl:message name="publishInvFkeySoapIn">
<wsdl:part name="parameters" element="tns:publishInvFkey"/>
</wsdl:message>
<wsdl:message name="publishInvFkeySoapOut">
<wsdl:part name="parameters" element="tns:publishInvFkeyResponse"/>
</wsdl:message>
<wsdl:message name="deleteInvFkeySoapIn">
<wsdl:part name="parameters" element="tns:deleteInvFkey"/>
</wsdl:message>
<wsdl:message name="deleteInvFkeySoapOut">
<wsdl:part name="parameters" element="tns:deleteInvFkeyResponse"/>
</wsdl:message>
<wsdl:portType name="PublishServiceSoap">
<wsdl:operation name="ImportAndPublishInv">
<wsdl:input message="tns:ImportAndPublishInvSoapIn"/>
<wsdl:output message="tns:ImportAndPublishInvSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ImportInvPattern">
<wsdl:input message="tns:ImportInvPatternSoapIn"/>
<wsdl:output message="tns:ImportInvPatternSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ImportInv">
<wsdl:input message="tns:ImportInvSoapIn"/>
<wsdl:output message="tns:ImportInvSoapOut"/>
</wsdl:operation>
<wsdl:operation name="publishInv">
<wsdl:input message="tns:publishInvSoapIn"/>
<wsdl:output message="tns:publishInvSoapOut"/>
</wsdl:operation>
<wsdl:operation name="UpdateCus">
<wsdl:input message="tns:UpdateCusSoapIn"/>
<wsdl:output message="tns:UpdateCusSoapOut"/>
</wsdl:operation>
<wsdl:operation name="setCusCert">
<wsdl:input message="tns:setCusCertSoapIn"/>
<wsdl:output message="tns:setCusCertSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ImportInvByPatternSerial">
<wsdl:input message="tns:ImportInvByPatternSerialSoapIn"/>
<wsdl:output message="tns:ImportInvByPatternSerialSoapOut"/>
</wsdl:operation>
<wsdl:operation name="publishInvFkey">
<wsdl:input message="tns:publishInvFkeySoapIn"/>
<wsdl:output message="tns:publishInvFkeySoapOut"/>
</wsdl:operation>
<wsdl:operation name="deleteInvFkey">
<wsdl:input message="tns:deleteInvFkeySoapIn"/>
<wsdl:output message="tns:deleteInvFkeySoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="PublishServiceSoap" type="tns:PublishServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="ImportAndPublishInv">
<soap:operation soapAction="http://tempuri.org/ImportAndPublishInv" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ImportInvPattern">
<soap:operation soapAction="http://tempuri.org/ImportInvPattern" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ImportInv">
<soap:operation soapAction="http://tempuri.org/ImportInv" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="publishInv">
<soap:operation soapAction="http://tempuri.org/publishInv" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="UpdateCus">
<soap:operation soapAction="http://tempuri.org/UpdateCus" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="setCusCert">
<soap:operation soapAction="http://tempuri.org/setCusCert" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="ImportInvByPatternSerial">
<soap:operation soapAction="http://tempuri.org/ImportInvByPatternSerial" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="publishInvFkey">
<soap:operation soapAction="http://tempuri.org/publishInvFkey" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteInvFkey">
<soap:operation soapAction="http://tempuri.org/deleteInvFkey" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PublishService">
<wsdl:port name="PublishServiceSoap" binding="tns:PublishServiceSoap">
<soap:address location="http://cadmindntest.yamaha-motor.com.vn/yamahapublishservice.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>